@{
    ViewBag.Title = "Index Page";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-8"><h3>Employee Portfolio</h3></div>
    </div>
</div>
<hr />
<div class="container-fluid">
    <center>
        <h3>This is one of the widely used Employee management system! Thank you for mulakat. Apno din subh rahe.</h3>
    </center>
</div>
