
@{
    ViewBag.Title = "Register";  
}



@using (Html.BeginForm())
{       
        <div class="jumbotron">
            <h3>Register </h3>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="form-horizontal">
                  
                        <div class="form-group">
                            <label class="control-label col-md-4">First Name</label>
                            <div class="col-md-4">
                                <input type="text" name="FName" class="form-control" id="fname" placeholder="Enter First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Last Name</label>

                            <div class="col-md-4">
                                <input type="text" name="LName" class="form-control" id="lname" placeholder="Enter Last Name">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Department </label>

                            <div class="col-md-4">
                                @Html.DropDownList("Department", new SelectList(string.Empty, "0", "DEvelopment"), "Please select Department", new { style = "width:250px", @class = "dropdown1" })
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Contact </label>

                            <div class="col-md-4">
                                <input type="text" name="mobile" class="form-control" id="mob" placeholder="Enter Contact">
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4">Email </label>

                            <div class="col-md-4">
                                <input type="text" name="LName" class="form-control" id="email" placeholder="Enter Email Id">
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4">Password </label>

                            <div class="col-md-4">
                                <input type="password" name="password" class="form-control" id="passwd" placeholder="Enter Password" />
                            </div>

                        </div>




                        <div class="form-group">
                            <label class="control-label col-md-4">Confirm Password </label>

                            <div class="col-md-4">
                                <input type="password" name="CPassword" class="form-control" id="cpasswd" placeholder="Confirm Password" inputmode="password">
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4 has-error" id="errorLbl"></label>

                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <input type="submit" value="Submit" class="btn btn-success">
                            </div>
                        </div>

</div>
           

            </div>

        </div>
        <a href="Index">Back to Index</a>

        }



